# MODIFICA HORA SERVIDOR
php_value date.timezone "Europe/Madrid"

# NO OCULTA Notice: Undefined & Warning: mysqli_connect
# php_flag display_starup_errors off

# NO OCULTA Notice: Undefined variable:
# php_flag html_errors off 

# OK OCULTA errores
 php_flag display_errors off 

# OK OCULTA ERRORES MENOS Notice

#     php_value error_reporting 2
#	  php_value error_reporting 7
#     php_flag display_errors On
#	  php_flag display_errors 1

# php-value session.auto_start 1
php_flag register_globals on
php_flag magic_quotes_gpc on
php_flag magic_quotes_runtime on
php_flag session.use_cookies on
php_flag session.use_only_cookies on