body {
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	background-color: #343434;
}

h1 {
	color: #FFFFFF;
	float: left;
	margin-left: 16px;
	font-style: italic;
	margin-top: 4px;
	width: 560px;
	/*font-size: 24px;*/
	text-align: left;
}

table {
	border: 1px solid #CCC;
	margin-bottom: 12px;
}

tr {
	margin: 0px;
	padding: 0px;
}
td {
	margin: 0px;
	padding: 4px;
}
th {
	padding: 6px;
	margin: 0px;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}

input {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-top: 3px;
	padding-right: 4px;
	padding-left: 4px;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a {
	color:#CCC;
	text-decoration:none;
	font-family: "Times New Roman";
}

a:hover {
	color:#FF9900;
	text-decoration:none;
	font-family: "Times New Roman";
}

a:visited {
	color:#93D7BF;
	text-decoration:none;
	font-family: "Times New Roman";
}

a:visited:hover {
	color:#55BF9A;
	text-decoration:none;
	font-family: "Times New Roman";
}

a  img {
	border: 1px solid #CCC;
}

a:hover  img {
	border: 1px solid #FF9900;
}

/*************************************/
/*************************************/
/*************************************/

/* FLOTANTE ERRORES FORMULARIO */
.errors{
	background-color: #343434;
	position: fixed;
	top: 26.0%;
	left: 3.0%;
	margin-left: -180px;
	z-index:999;
	width: 24.0%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCC;
}

.errorsimg{
	background-color: #343434;
	position: fixed;
	top: 6.9%;
	left: 3.4%;
	/*margin-left: -80px;*/
	z-index:999;
	width: 91.0%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCC;

}

.errorsindex{
	background-color: #343434;
	position: fixed;
	top: 18.0%;
	/*bottom: 12.0%;*/
	left: 12.0%;
	margin-left: -180px;
	z-index:999;
	width: auto;
	margin: 0px;
	padding: 0px;
	border: 0px solid #CCC;

}

.errorscam{
	background-color: #343434;
	position: fixed;
	top: 18.0%;
	/*bottom: 12.0%;*/
	left: 12.0%;
	margin-left: -180px;
	z-index:999;
	width: auto;
	margin: 0px;
	padding: 0px;
	border: 0px solid #CCC;
}

.MenuVertical {
	position: fixed;
	top: 2.4%;
	left: 1.0%;
	margin-left: -180px;
	z-index:999;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.MenuBarVertical {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 12px;
}

/* FLOTANTE VISITAS INDEX ENTRADA */
.visitas{
	position: fixed;
	top: 16.0%;
	left: 82.0%;
	margin-left: -180px;
	z-index:999;
	margin: 0px;
	padding: 0px;
}

 /* BORDES TABLAS DE RESULTADOS. */
.BorderInf {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.BorderSup {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.BorderInfDch {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}
.BorderDch {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.BorderIzd{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

.limpiar {
	clear: both;
	margin: 0px;
	padding: 0px;
}

/*************************************/
/*************************************/
/*************************************/

#Conte {
	/*
	border: #fd9c09 solid 1px;
	*/
	width: auto;
	height: 90%;
	margin: 0.5% auto 0px auto;
	text-align: center;
	color: #FFFFFF;
}

#head {
	/* 
	border: medium double #CCC;
	*/
	float: none;
	width: 98%;;
	height: auto;
	margin: 0.5% auto 1px auto;
	padding: 8px 0px 8px 0px;
	color: #CCC;
	font-style: italic;
	font-size: 18px;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

#TitTut {
	/*
	border: #55BF9A solid 1px;
	*/
	width: 98%;;
	margin-left: auto;
	margin-right: auto;
}
#TitTut a {
	color: #666;
	text-decoration: none;
}

#TitTut a:hover {
	color: #333;
	text-decoration: none;
}

#Caja2Admin {
	/*
	float: left;
	border: cyan solid 1px;
	*/
	width: 98%;;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-align: left;
}

#Caja2Admin a {
	color: #CCC;
	text-decoration: none;
}

#Caja2Admin a:hover {
	color: #FF9900;
	text-decoration: none;
}

#Caja2Admin .MenuBarVertical {
	text-align: left;
}

#Caja2Admin .MenuBarVertical a:hover {
	color: #FFFFFF;
}

#mensaje {
	margin-top: 6px;
}

#foot  {
	/*
	border: medium double #CCC;	
	font-size: 12px;
	*/
	height: 3.25%;
	width: 98%;
	margin: 4px auto 4px auto;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	text-align: center;
	color: #CCC;
	padding: 4px 0px 4px 0px;

	/*position: fixed;
	bottom: 1.6%;
	left: 0.0%;
	z-index:999;
	*/
}

#foot  a  {
	color: #333333;
	text-decoration: none;
}

#foot  a:hover  {
	color: #CCC;
	text-decoration: none;
}

.paginacion {
	float: left;
	margin: 0px 3px 0px 3px;
}


/* BARRA PROGRESO PUNTUACIONES */

.progresa {
	position: relative;
	/*float: right;*/
	display: inline-block;
	vertical-align: sub;
	width: 100px;
	height:  15px;
	margin: 0px 0px 0px 2px;
	/*border: solid 1px #000;*/
}

.progresab {
	position: absolute;
	/*width: 20%;*/
	height: 14px;
	background-color: #fd9c09;
}

.star {
	position: relative;
	margin-top: -13px;
	width: 100%; 
	height: 16px; 
	z-index: 1000;
}

.star2 {
	position: relative;
	margin-top: -9px;
	width: 100%; 
	height: 16px; 
	z-index: 1000;
}

.imglogo {
	position: relative;
	display: inline-block;
	text-decoration: none;
	border: none;
	height: 3.2em !important;
	/*min-height: 0px !important;*/
	width: auto;
}

 a .imglogo, a:hover .imglogo {
	text-decoration: none;
	border: none;
}

.protfolioimg {
	display: block;
	width: auto;
	height: 140px;
	overflow: hidden;
	}

.juancentra {
    margin-left: auto;
	margin-right: auto;
	text-align: center;
    width: 80vw;
    min-width: 340px;
    height: auto;
	margin-bottom: 7vh;
    /* border: solid 1px #000; */
}

.juancentraerror {
	margin: 0.3em auto 2em auto; 
	text-align: center;
    width: 26vw;
    min-width:300px;
    height: auto;
	border: solid 1px #343434;
}

.juancentramail {
	margin: 0.3em auto 2em auto; 
	text-align: left;
    width: 26vw;
    min-width:340px;
    height: auto;
	/* border: solid 1px #343434; */
}

.juancentramail input, .juancentramail label, .juancentramail textarea  {
	margin: 1px 0px 1px 6px;
}

.juancentracoment {
	display: inline-block;
    margin-left: auto;
	margin-right: auto;
	padding: 2px;
	text-align: left;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	margin: 1px;
	height: auto;
}

.vidf {
    /* Mapa Google */
	position: relative;
    width: 100%;
	height: 61vh;
}

/*	LAS IMAGENES MODIFICADAS */

.img1 {
	text-align: center;
	vertical-align: middle;
	height: auto;
	width: auto; 
}
.img1 img {
	height: 90px;
	width: 90px;
	text-decoration: none;
	cursor:hand;
	cursor:pointer;
}
.img2 {
	text-align: center;
	width: auto;
	margin: 0px;
	padding: 0px;
}
.img2 img {
	height: 400px;
	width: 400px;
	margin: 0px;
	cursor: auto;
}

#foto1A {
	visibility: hidden;
	z-index: 40;
	position: absolute;
	text-align: left;
	margin: 0px;
	left: 50px;
	top: 235px;
}
#foto2A {
	visibility: hidden;
	z-index: 30;
	position: absolute;
	left: 50px;
	top: 235px;
}
#foto3A {
	visibility: hidden;
	z-index: 20;
	position: absolute;
	left: 50px;
	top: 235px;
}
#foto4A {
	visibility: hidden;
	z-index: 10;
	position: absolute;
	left: 50px;
	top: 235px;
}

.whiletotal {
	display:inline-block; 
	padding: 1px 4px 1px 4px; 
	margin: 1px 3px 1px 3px;
}
/* Creado por Juan Barros Pazos 2020 */
